{% extends '::layout.html.twig' %}

{% block extrajs%}
	{% javascripts '@ChoumeiLooksBundle/Resources/public/js/fileuploader.js' 
				   '@ChoumeiLooksBundle/Resources/public/js/uploader.js'
				   '@ChoumeiLooksBundle/Resources/public/js/accessoryUploader.js'
				   '@ChoumeiLooksBundle/Resources/public/js/cropresize.js'
	%}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock%}
{% block stylesheets %}
	{{ parent() }}
	{% stylesheets '@ChoumeiLooksBundle/Resources/public/css/fileuploader.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen, projection" />
	{% endstylesheets%}
{% endblock %}
{% block body %}
<h1>Looks creation</h1>
	<form action="{{ path('looks_create') }}" method="post" {{ form_enctype(form) }}>
<!-- upload image -->
<div id="file-uploader">
	<noscript>
		Please enable javascript to let you upload your image.
	</noscript>
</div>
<!-- end upload image -->
<div id="image_source">
</div>
<input type="button" onclick="doCropResize($('#image_source'))" value="确定" id="do_crop_button" style="display:none;" />
<!-- real create looks form -->
<div id="create_looks_form" style="display:none;">
	<div id="outfit_img_wrapper" style="width:290px;z-index:999;position:relative"></div>
	<!-- begin form originally -->
	    {{ form_widget(form) }}
	    <div id="accessories-uploader">
	    <input type="text" value="" maxlength="255" name="choumei_looksbundle_lookstype[accessories][0][url]" id="choumei_looksbundle_lookstype_accessories_0_url">
	    <input type="text" value="" maxlength="255" name="choumei_looksbundle_lookstype[accessories][1][url]" id="choumei_looksbundle_lookstype_accessories_0_url">
	    </div>
	    <p>
	    	<script>
	    	</script>
	        <button type="submit">Create</button> <!--a href="javascript:void(0)" onclick="javascript:addAccessoryElement();">Add</a-->
	    </p>
	    <!-- end form originally -->
</div>
	</form>
<ul class="record_actions">
    <li>
        <a href="{{ path('looks') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
