{% extends '::layout.html.twig' %}

{% block extrajs%}
	{% javascripts '@ChoumeiLooksBundle/Resources/public/js/fileuploader.js' 
				   '@ChoumeiLooksBundle/Resources/public/js/uploader.js'
				   '@ChoumeiLooksBundle/Resources/public/js/cropresize.js'
	%}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock%}
{% block stylesheets %}
	{{ parent() }}
	{% stylesheets '@ChoumeiLooksBundle/Resources/public/css/fileuploader.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen, projection" />
	{% endstylesheets%}
{% endblock %}
{% block body %}
<h1>Looks creation</h1>
<!-- upload image -->
<div id="file-uploader">
	<noscript>
		Please enable javascript to let you upload your image.
	</noscript>
</div>
<!-- end upload image -->
<div id="image_source">
</div>
<input type="button" onclick="doCropResize($('#image_source'))" value="确定" />
<form action="{{ path('looks_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div id="test_prot"></div>
    <p>
        <button type="submit">Create</button> <a href="javascript:void(0)" onclick="$('#test_prot').append($('#choumei_looksbundle_lookstype_accessories').attr('data-prototype').replace(/\$\$name\$\$/g, 0))">Add</a>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('looks') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}